<!-- Copyright 2024 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->
<div class="home-main">
  <h1>Document Summarization and Chat</h1>
  <div class="content2">
    <span> Supported Formats</span>
    <div class="support_formats">
      <div class="support_format">PDF</div>
      <div class="support_format">DOCX</div>
      <div class="support_format">PPTX</div>
      <div class="support_format">TXT</div>
      <div class="support_format">VTT</div>
      <div class="support_format">MP3</div>
      <div class="support_format">MP4</div>
      <div class="support_format">MPEG</div>
      <div class="support_format">MPGA</div>
      <div class="support_format">M4A</div>
      <div class="support_format">WAV</div>
      <div class="support_format">WEBM</div>
    </div>
  </div>

  <a class="btn btn-primary start" href="nav/doc">Get Started</a>
</div>
